<AuthorizeView>
    <Authorized>
        ﻿<MudNavMenu>
            <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Inicio</MudNavLink>
            <MudNavLink Href="genre" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Category">Gêneros</MudNavLink>
            <MudNavLink Href="people" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.People">Pessoas</MudNavLink>
            <MudNavLink Href="movie" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Movie">Filmes</MudNavLink>
        </MudNavMenu>
    </Authorized>
    <NotAuthorized>
            <MudSpacer />
            <MudButton>
                <a href="Identity/Account/Register">Register</a>
            </MudButton>
            <MudButton>

                <a href="Identity/Account/Login">Log in</a>
            </MudButton>
    </NotAuthorized>
</AuthorizeView>

@code {

}
